@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #0f0c29; 
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    min-height: 100vh;
  }
}


