# Node.js
server/node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs
*.log

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Stryker
.stryker-tmp
server/.stryker-tmp
