name: CD

# Цей workflow запуститься автоматично, коли завершиться CI
on:
  workflow_run:
    workflows: ['CI']
    types:
      - completed
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Trigger Server Deploy
        run: curl -X POST ${{ secrets.RENDER_SERVER_DEPLOY_HOOK }}

      - name: Trigger Client Deploy
        run: curl -X POST ${{ secrets.RENDER_CLIENT_DEPLOY_HOOK }}
